/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {
    background-color:#746A14;
    color:white;
    text-align:center;
    padding:10px;
    margin-top: -70px;

}
#nav {
    line-height:30px;
    background-color:#9B9377;
    height:750px;
    width:170px;
    float:left;
    padding:5px;          
}
#section {
    margin-left:-140px;
    width:auto;
    margin-top: -210px;
    height: auto;
    float:left;
    padding:1px; 
    background-color: #faf8ef;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
    position:relative;     
}
#footer {
    background-color:#746A14;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;      
}

#parent {
   background: #faf8ef; 
}


.form-edit {
    
}
